<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amari</title>
</head>
<body>
            <div style="display: block;">
                <h4 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 500;">Hi <%= name %>,</h4>
                <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Thank you for creating an account with us. We created Amari (<a href="https://amari.co.ke/">amari.co.ke</a>) to help brands diversify their marketing by providing a creative pool of assets for their use in various online platforms, thereby helping them position strongly among competitors.</p>
                <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">We hope you'll enjoy browsing through quality assets that you can use on your various social media handles.</p>
                <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Let's start your journey. <a href="https://amari.co.ke/user/login">Enter into your Account</a></p>
               <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Please contact us at admin@amari.co.ke if you have any queries.</p>
               <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Cheers,</p>
               <h4 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 500;">Amari Team</h4>
            </div>
</body>
</html>