<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amari UGC</title>
</head>
<body>
            <div style="display: block;">
                <h4 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 500;">Hi <%= name %>,</h4>
                <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Thank you for creating an account with us. We created Amari UGC (<a href="https://amari.co.ke/">amari.co.ke</a>) because we wanted to expand content creation in Africa and help aspiring creatives like yourself to earn by your creativity.</p>
                <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">We hope you'll enjoy creating digital content for various brands and earn benefits when brands use your assets.</p>
                <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Let's begin your content creation journey. <a href="https://amari.co.ke/user/login">Start Creating</a></p>
               <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Please contact us at admin@amari.co.ke if you have any queries.</p>
               <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Cheers,</p>
               <h4 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 500;">Amari UGC Team</h4>
            </div>
</body>
</html>