<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amari Team</title>
</head>
<body>
            <div style="display: block;">
                <h4 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 500;">Dear <%= name %>,</h4>
                <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Welcome to Amari! We're thrilled to have you join our community of authentic voices and brand enthusiasts. Amari is not just a platform; it's a movement towards genuine brand-consumer connections through the power of user-generated content.  </p>
                <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">What is Amari About? </p>
                <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Amari bridges the gap between you and the brands you love. We believe that your real experiences, shared through photos, videos, and stories, hold immense power. They not only guide others in making informed decisions but also help your favorite brands align closer with your needs and expectations.
                </p>
                <h4 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 500;">How You Benefit</h4>
                <p  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><strong>Discover Your Favorites: </strong>Explore and connect with a wide array of brands, finding new favorites and rekindling love for the classics.</p>
                <p  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><strong>Share Your Brand Moments: </strong>Your experiences are invaluable. Upload photos or videos of you using favorite products or services, and let your voice be heard.</p>
                <p  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><strong>Earn Loyalty Rewards: </strong>Your contributions deserve recognition. Get loyalty rewards, exclusive discounts, and special promotions, celebrating your engagement and loyalty.
                </p>
                <a href="https://amari.co.ke/user/login">
                        <h4 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 500;">Get Started</h4>
                </a>
               <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Your journey with Amari promises to be one of engagement, authenticity, and rewards. Your insights not only shine a light on the true essence of brands but also sculpt the landscape of consumer-brand interactions for the better.
               </p>
               <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">We're excited to see the stories you'll share and the impact you'll make. Together, let's turn everyday moments into opportunities for connection and recognition.
            </p>
               <h4 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 500;">The Amari Team</h4>
               <p></p>
               <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">P.S. We love hearing from our community. If you have any questions, ideas, or just want to say hi, don't hesitate to <a href="mailto: support@amari.co.ke">Reach out to us</a>
            </p>
            </div>
</body>
</html>