.admin-dashboard-wrapper{
       background: rgb(252, 252, 252);
       height: auto;
       padding-bottom: 80px;
}
.topbar{
     width: 100%;
     height: 70px;
     box-shadow: 0px 4px 7px -5px gainsboro;
     background: white;
     top: 0;
     position: fixed;
     z-index: 99;
}

.admin-inner{
     width: 1200px;
     margin: auto;
     height: 100%;
}

.topbar-content{
      display: flex;
      height: inherit;
      align-items: center;
      justify-content: space-between;
}

.topbar-content .logo{
      width: 130px;
}
.topbar-content .topbar-left{
      display: flex;
      align-items: center;
      gap: 30px;
}
.topbar-content .search-area{
      position: relative;
      display: flex;
      align-items: center;
      width: 300px;
      border: 1px solid rgba(208, 230, 237, 0.5);
      height: 40px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
}
.topbar-content .search-area span{
       font-size: 18px;
       cursor: pointer;
       width: 35px;
       height: 35px;
       display: flex;
       align-items: center;
       justify-content: center;
       border-radius: 50%;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       -ms-border-radius: 50%;
       -o-border-radius: 50%;
       color: rgb(142, 142, 142)
}
.topbar-content .search-area span:hover{
       background: rgba(236, 236, 236, 0.5);
}
.search-area .search-box-control{
    width: 100%;
    height: 40px;
    font-family: "Madera-Regular";
    outline: none;
    border: none;
     background: transparent;
}
.topbar-right{
     display: flex;
     gap: 30px;
}
.topbar-right span{
     font-size: 18px;
     width: 45px;
     height: 45px;
     border-radius: 50%;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
     color: rgb(68, 68, 68);
     transition: all 0.6s ease;
     -webkit-transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
     -ms-transition: all 0.6s ease;
     -o-transition: all 0.6s ease;
     cursor: pointer;
}
.topbar-right span:hover{
    background: rgba(225, 230, 230, 0.368);
}
.topbar-right span .small-pop{
     width: 10px;
     height: 10px;
     background: var(--main-color);
     position: absolute;
     right: 11px;
     top: 9px;
     border-radius: 50%;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
     box-shadow: 0px 0px 5px 1px rgb(50, 215, 220);
}

.topbar-right .admin-profile{
      width: 45px;
      height: 45px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      cursor: pointer;
      box-shadow: 0px 0px 4px 1px rgb(202, 206, 207);
      position: relative;
}
.admin-profile .topbar-box{
     position: absolute;
     width: 370px;
     background: white;
     right: 0;
     top: 50px;
     padding: 30px;
     border-radius: 15px;
     -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
     -ms-border-radius: 15px;
     -o-border-radius: 15px;
     box-shadow: 0px 0px 4px 1px rgba(232, 232, 232, 0.429);
     transform: scale(0);
     -webkit-transform: scale(0);
     -moz-transform: scale(0);
     -ms-transform: scale(0);
     -o-transform: scale(0);
     transform-origin: 100% 0%;
     transition: all 0.3s ease;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -ms-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
}

.admin-profile .topbar-box.active{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.topbar-box h2{
    font-size: 18px;
    font-family: "Madera-Light";
}

.topbar-right .admin-profile img{
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
}
.topbar-right .profile-n-name{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid rgba(234, 234, 234, 0.725);
}
.topbar-right .profile-n-name .photo{
     width: 75px;
     height: 75px;
     flex-shrink: 0;
}
.profile-n-name h3{
    font-family: "Madera-Light";
}
.profile-n-name p{
    font-size: 14px;
    display: flex;
    gap: 5px;
    align-items: center;
    font-family: "Madera-Medium";
    color: rgb(110, 110, 110);
}
.profile-n-name p span{
    display: flex;
    margin-top: 5px;
    font-size: 18px;
    width: auto;
    height: auto;
}
.topbar-links a{
    display: flex;
    margin: 20px 0;
    gap: 10px;
    color: rgb(60, 60, 60);
}
.topbar-box a .user-icon{
    width: 45px;
    height: 45px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: var(--main-color);
    background: rgba(207, 245, 245, 0.5);
}
.topbar-links .title{
    display: flex;
    flex-direction: column;
}

.topbar-links .title h4{
    font-size: 15px;
    line-height: 20px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.topbar-links .title p{
     font-size: 13px;
}
.topbar-links a:hover .title h4{
      color: var(--main-color);
}

.topbar-box button{
      border: 2px solid var(--main-color);
      width: 100%;
      height: 45px;
      font-family: "Madera-Medium";
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      padding-bottom: 4px;
      cursor: pointer;
      font-size: 14px;
      background: transparent;
      color: var(--main-color);
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
}
.topbar-box button:hover{
    background:rgba(234, 254, 255, 0.605);
}
/* Main Topbar Styles */

.main-topbar{
     border-bottom: 1px solid rgba(236, 233, 233, 0.818);
     height: 70px;
     position: relative;
     margin-top: 70px;
     background: rgb(252, 252, 252);
}
.main-topbar ul{
    display: flex;
    height: 70px;
    align-items: center;
    gap: 10px;
}
.main-topbar ul li a{
    display: flex;
    color: rgb(53, 53, 53);
    align-items: center;
    gap: 5px;
    padding: 8px 20px 10px 20px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    font-size: 15px;
    transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
}
.main-topbar ul li a:hover,
.main-topbar ul li a.active{
    background:rgba(241, 249, 249, 0.925);
    color: var(--main-color);
}
.main-topbar ul li a span{
    display: inline-flex;
    margin-top: 3px
}

/* Admin Body Styles */
.admin-dashboard-content{
    padding: 20px 0;
    position: relativ
}

.admin-dashboard-content .admin-intro h2{
      font-size: 30px;
}
.admin-intro p{
    color:rgb(68, 68, 68);
    font-size: 15px;
}

.quick-numbers-boxes{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    margin-top: 30px;
}
.quick-numbers-boxes .quick-number-box-moja{
       box-shadow: 0px 0px 4px 1px rgba(232, 232, 232, 0.429);
       background-color: white;
       padding: 30px 20px;
       border-radius: 15px;
       -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
       -ms-border-radius: 15px;
       -o-border-radius: 15px;
}

.quick-number-box-moja .type{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
}
.quick-number-box-moja .name-n-number h4{
       font-size: 13px;
       color: rgb(60, 60, 60);
}
.quick-number-box-moja .name-n-number h2{
    font-size: 30px;
    display: flex;
    align-items: center;
    font-family: "Madera-Regular";
}
.quick-number-box-moja .name-n-number h2 figure{
    font-size: 15px;
    display: flex;
    margin-top: 10px;
    font-family: "Madera-Regular";
}
.quick-number-box-moja .type span{
       width: 40px;
       height: 40px;
       border-radius: 50%;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       -ms-border-radius: 50%;
       -o-border-radius: 50%;
       color: white;
       display: flex;
       justify-content: center;
       align-items: center;
}
.quick-number-box-moja:nth-child(1) .type span{
    background: purple;
}
.quick-number-box-moja:nth-child(2) .type span{
    background: rgb(139, 10, 230);
}
.quick-number-box-moja:nth-child(3) .type span{
    background: rgb(255, 190, 13);
}
.quick-number-box-moja:nth-child(4) .type span{
    background: rgb(59, 190, 109);
}
.quick-number-box-moja .percent{
    display: flex;
    align-items: center;
    gap: 10px;
}
.quick-number-box-moja .percent span{
     font-size: 12px;
     padding: 5px 10px;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
     display: flex;
     font-family: "Madera-Medium";
     align-items: center;
     gap: 3px;
     background:rgba(163, 241, 241, 0.368)
}
.quick-number-box-moja .percent p{
     font-size: 14px;
     font-family: "Madera-Medium";
     color: rgb(60, 60, 60);
}

/* Analytics Section Styles */
.analytics-section{
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    gap: 30px;
}
.revenue-analytics{
       box-shadow: 0px 0px 4px 1px rgba(232, 232, 232, 0.429);
       background-color: white;
       padding: 30px;
       border-radius: 15px;
       -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
       -ms-border-radius: 15px;
       -o-border-radius: 15px;
}
.analytics-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.analytics-header .header-texts h2{
    font-size: 20px;
    font-family: "Madera-Light";
}
.analytics-header .header-texts p{
    font-size: 14px;
    color: rgb(90, 90, 90)
}
.analytics-header .custom-select{
     width: 150px;
     padding: 10px;
     border: 1px solid rgba(226, 226, 226, 0.762);
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
     font-family: "Madera-Light";
     cursor:  pointer;
     outline: none;
}

.updates-map-texts{
    display: grid;
    grid-template-columns: 3fr 1.3fr;
    margin-top: 30px;
    gap: 20px;
}
.time-descriptions .money-part{
       display: flex;
       align-items: center;
       gap: 10px;
       margin-bottom: 30px;
}
.money-part span{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background: rgba(163, 241, 241, 0.368);
    font-size: 18px;
    border: 1px solid rgb(217, 246, 247);
}
.money-part h3{
    font-size: 30px
}
.money-part p{
     font-size: 13px;
     color: rgb(110, 110, 110);
}

.map-description .assets-count{
    margin-bottom: 30px;
    display: flex;
    gap: 5px;
}

.assets-count h4{
     font-family: "Madera-UltraLight";
     font-size: 14px;
     color: rgb(110, 110, 110);
}

.assets-count span{
     width: 12px;
     height: 12px;
     display: flex;
     background: var(--main-color);
     border-radius: 15px;
     -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
     -ms-border-radius: 15px;
     -o-border-radius: 15px;
     margin-top: 7px
}
.assets-count span.asset{
    background: rgb(255, 193, 34);
}
.assets-count h2{
    font-size: 20px
}

.report-btn button{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Madera-Regular";
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border: none;
    background: var(--main-color);
    color:white;
    padding-bottom: 2px;
    cursor: pointer;;
}

.date-analytics .brand-box{
     box-shadow: 0px 0px 4px 1px rgba(232, 232, 232, 0.429);
      padding: 30px;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      background: white;
     display: grid;
     grid-template-columns: 1.5fr 1fr;
}
.brand-box h3{
    font-family: "Madera-Light";
}
.brand-box-content p{
    font-size: 14px;
    font-family: "Madera-Medium";
}
.brand-box-content .percent{
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 10px 0;
}
.brand-box-content .percent span{
    width: 30px;
    height: 30px;
    background: rgba(207, 245, 245, 0.5);
    color: gray;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
}
.brand-box-content .percent p{
    font-size: 13px;
    font-family: "Madera-Regular";
}
.brand-box-content .percent p.profit{
    color: green;
}
.brand-box-content .percent p.loss{
      color: red;
}

.brand-box .pie-chart{
 
}