.admin-dashboard-wrapper{
       background: rgb(252, 252, 252);
       height: 100vh;
}
.topbar{
     width: 100%;
     height: 70px;
     box-shadow: 0px 4px 7px -5px gainsboro;
     background: white;
     top: 0;
     position: fixed;
}

.admin-inner{
     width: 1200px;
     margin: auto;
     height: 100%;
}

.topbar-content{
      display: flex;
      height: inherit;
      align-items: center;
      justify-content: space-between;
}

.topbar-content .logo{
      width: 130px;
}
.topbar-content .topbar-left{
      display: flex;
      align-items: center;
      gap: 30px;
}
.topbar-content .search-area span{
       font-size: 18px;
       cursor: pointer;
       width: 35px;
       height: 35px;
       display: flex;
       align-items: center;
       justify-content: center;
       border-radius: 50%;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       -ms-border-radius: 50%;
       -o-border-radius: 50%;
       color: rgb(142, 142, 142)
}
.topbar-content .search-area span:hover{
       background: rgba(236, 236, 236, 0.5);
}

.topbar-right{
     display: flex;
     gap: 30px;
}
.topbar-right span{
     font-size: 18px;
     width: 45px;
     height: 45px;
     border-radius: 50%;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
     color: rgb(68, 68, 68);
     transition: all 0.6s ease;
     -webkit-transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
     -ms-transition: all 0.6s ease;
     -o-transition: all 0.6s ease;
     cursor: pointer;
}
.topbar-right span:hover{
    background: rgba(225, 230, 230, 0.368);
}
.topbar-right span .small-pop{
     width: 10px;
     height: 10px;
     background: var(--main-color);
     position: absolute;
     right: 11px;
     top: 9px;
     border-radius: 50%;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
     box-shadow: 0px 0px 5px 1px rgb(50, 215, 220);
}

.topbar-right .admin-profile{
      width: 45px;
      height: 45px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      cursor: pointer;
      box-shadow: 0px 0px 4px 1px rgb(202, 206, 207);
}
.topbar-right .admin-profile img{
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
}

.main-topbar{
     border-bottom: 1px solid rgba(236, 233, 233, 0.818);
     height: 70px;
     position: relative;
     margin-top: 70px;
     background: rgb(252, 252, 252);
}
.main-topbar ul{
    display: flex;
    height: 70px;
    align-items: center;
    gap: 10px;
}
.main-topbar ul li a{
    display: flex;
    color: rgb(53, 53, 53);
    align-items: center;
    gap: 5px;
    padding: 8px 20px 10px 20px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    font-size: 15px;
    transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
}
.main-topbar ul li a:hover,
.main-topbar ul li a.active{
    background:rgba(241, 249, 249, 0.925);
    color: var(--main-color);
}
.main-topbar ul li a span{
    display: inline-flex;
    margin-top: 3px
}

/* Admin Body Styles */
.admin-dashboard-content{
    padding: 20px 0;
    position: relativ
}

.admin-dashboard-content .admin-intro h2{
      font-size: 30px;
}
.admin-intro p{
    color:rgb(68, 68, 68);
    font-size: 15px;
}

.quick-numbers-boxes{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    margin-top: 30px;
}
.quick-numbers-boxes .quick-number-box-moja{
       box-shadow: 0px 0px 4px 1px rgba(232, 232, 232, 0.429);
       background-color: white;
       padding: 30px 20px;
       border-radius: 15px;
       -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
       -ms-border-radius: 15px;
       -o-border-radius: 15px;
}

.quick-number-box-moja .type{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
}
.quick-number-box-moja .name-n-number h4{
       font-size: 13px;
       color: rgb(60, 60, 60);
}
.quick-number-box-moja .name-n-number h2{
    font-size: 35px;
    font-family: "Madera-Medium";
}
.quick-number-box-moja .type span{
       width: 40px;
       height: 40px;
       border-radius: 50%;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       -ms-border-radius: 50%;
       -o-border-radius: 50%;
       color: white;
       display: flex;
       justify-content: center;
       align-items: center;
}
.quick-number-box-moja:nth-child(1) .type span{
    background: purple;
}
.quick-number-box-moja .percent{
    display: flex;
    align-items: center;
    gap: 10px;
}
.quick-number-box-moja .percent span{
     font-size: 12px;
     padding: 5px 10px;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
     display: flex;
     font-family: "Madera-Medium";
     align-items: center;
     gap: 3px;
     background:rgba(163, 241, 241, 0.368)
}
.quick-number-box-moja .percent p{
     font-size: 14px;
     font-family: "Madera-Medium";
     color: rgb(60, 60, 60);
}