<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amari UGC</title>
</head>
<body>
            <div style="display: block;">
                <h4 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 500;">Hi <%= name %>,</h4>
                <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Thank you for creating an account with us. Use the following one-time-password (OTP) to verify your account. This OTP is valid for 10 minutes.</p>
     
               <h3 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 500;"> <%= otp %></h3>
               <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Please contact us at admin@amari.co.ke if you have any queries.</p>
               <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Cheers,</p>
               <h4 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 500;">Amari UGC Team</h4>
            </div>
</body>
</html>