.assets-body-wrap{
    min-height: 120vh;
}
.assets-body-wrap .intro{
    margin: 20px  0;
    border-bottom: 1px solid var(--sleezy-border);
    padding-bottom: 20px;
}
.assets-body-wrap .intro .intro-column{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.intro-column a{
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 13px;
    background: var(--main-color);
    width: 150px;
    height: 43px;
    padding-bottom: 5px;
    justify-content: center;
    color: whitesmoke;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.intro-column a span{
    display: flex;
    margin-top: 3px;
    font-size: 20px;
}
.assets-body-wrap .intro h2{
    font-family: "Madera-Light";
}
.assets-body-wrap .intro p{
    font-size: 15px;
    color: rgb(101, 100, 100);
}

.assets-videos h4{
    font-family: "Madera-UltraLight";
}

.assets-video-row{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     gap: 5px;
     margin-top: 30px;
}
.asset-video-moja{
    position: relative;
    height: 350px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    overflow: hidden;
}
.asset-video-moja img{
     position: absolute;
     height: 100%;
     width: 100%;
     border-radius: 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -ms-border-radius: 20px;
     -o-border-radius: 20px;
     z-index: 3;
}
.asset-video-moja .video-deets{
      position: absolute;
      bottom: 0;
      z-index: 5;
      width: 100%;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      padding: 15px 30px;
      background: rgba(0, 47, 49, 0.181);
      backdrop-filter: blur(20px);
      display: grid;
      grid-template-columns:  auto 45px;
      transform: translateY(100%);
      -webkit-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
      -o-transform: translateY(100%);
      transition: transform 0.3s ease;
      -webkit-transition: transform 0.3s ease;
      -moz-transition: transform 0.3s ease;
      -ms-transition: transform 0.3s ease;
      -o-transition: transform 0.3s ease;
}
.asset-video-moja:hover .video-deets{
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
}
.video-deets span.play{
      font-size: 20px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      cursor: pointer;
      background: rgb(255, 255, 255);
      color: var(--main-color);
      box-shadow: 0px 0px 6px 1px rgb(255, 255, 255);
      animation: pulse 2s linear infinite;
      -webkit-animation: pulse 2s linear infinite;
}
.video-deets .video-tags{
       border-right: 1px solid rgb(160, 159, 159);
}
.video-deets .video-tags h3{
      font-size: 16px;
      font-family: "Madera-Light";
      text-shadow: 1px 1px rgba(43, 43, 43, 0.2);
      color: rgb(255, 255, 255);
}
.video-deets .video-tags p{
     font-size: 12px;
     font-family: "Madera-Medium";
     text-shadow: 1px 1px rgba(43, 43, 43, 0.2);
      color: rgb(255, 255, 255);
}
.video-deets .likes{
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
}
.video-deets .likes span{
      color: rgb(238, 238, 238);
      font-size: 25px;
}
.video-deets .likes p{
    font-size: 12px;
    color: var(--main-color);
}
@keyframes pulse{
       0%{
             box-shadow: 0px 0px 16px 1px rgb(53, 195, 198);
       }
       100%{
              box-shadow: 0px 0px 8px 1px  rgb(255, 255, 255);
       }
}

/* Video Modal */
.video-modal-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(95, 143, 151, 0.741);
    z-index: -99;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.7s ease-in-out ;
    -webkit-transition: all 0.7s ease-in-out ;
    -moz-transition: all 0.7s ease-in-out ;
    -ms-transition: all 0.7s ease-in-out ;
    -o-transition: all 0.7s ease-in-out ;

}
.video-modal-wrapper.active{
      opacity: 1;
     z-index: 99;
}

.video-modal-wrapper .modal-box{
       width: 1000px;
       height: 90vh;
       background: white;
       box-shadow: 0px 0px 12px -1px rgb(194, 194, 194);
       display: grid;
       grid-template-columns: 1.3fr 1fr;
       transform: scale(0);
       -webkit-transform: scale(0);
       -moz-transform: scale(0);
       -ms-transform: scale(0);
       -o-transform: scale(0);
       transform-origin: center;
       transition: all 0.8s ease;
       -webkit-transition: all 0.8s ease;
       -moz-transition: all 0.8s ease;
       -ms-transition: all 0.8s ease;
       -o-transition: all 0.8s ease;
}
.video-modal-wrapper.active .modal-box{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.modal-box .video-part{
     border-right: 1px solid var(--sleezy-border);
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
}
.modal-box .modal-video-box{
       display: flex;
       align-items: center;
       justify-content: center;
}
.modal-box .modal-video-box .modal-loader{
     position: absolute;
       z-index: 3;
}
.video-part .modal-video-box{
    position: absolute;
     overflow: hidden;
     width: 100%;
     height: 100%;
     background: rgb(5, 40, 41);
     z-index: 5;
}
.video-part .modal-video-box video{
     overflow: hidden;
     z-index: 5;
}
.modal-video-box img{
      object-fit: contain;
}
.modal-box .likes-part{
     padding: 20px;
     position: relative;
}
.modal-box .likes-parts-inner{
    height: 570px;
    overflow-y: scroll;
}
.modal-box .likes-parts-inner::-webkit-scrollbar{
    display:  none;
}
.modal-box .likes-part .close-btn{
        position: absolute;
        right: 10px;
        top: 10px;
        color: #3f3f3f;
        cursor: pointer;
        font-size: 17px;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        background:rgb(245, 247, 247);
        z-index: 5;
}
.modal-box .likes-part h4{
     font-family: "Madera-Light";
     margin-bottom: 20px;
}
.likes-part .brand-profile{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      box-shadow: 0px 0px 3px -1px rgb(177, 176, 176);
      display: flex;
      align-items: center;
      justify-content: center;
}
.likes-part .brand-profile img{
      width: 80%;
      height: 80%;
       border-radius: 50%;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       -ms-border-radius: 50%;
       -o-border-radius: 50%;
       object-fit: contain;
}
.likes-part .brand-moja{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.likes-part .brand-moja h2{
    font-size: 15px;
    color: #444;
}

/* Asset details */
.likes-part .creator{
    padding-bottom: 15px;
    border-bottom: 1px solid var(--sleezy-border);
    display: flex;
    gap: 10px;
}
.likes-part .creator .creator-profile-texts h3{
    font-size: 16px;
    line-height: 1;
    font-family: "Madera-Light";
}
.likes-part .creator .creator-profile-texts p{
    font-size: 13px;
}

.asset-description{
     padding-bottom: 20px;
}
.asset-description p{
      font-size: 14px;
}

.asset-description h4{
     font-size: 16px;
     margin: 10px 0  !important;
     line-height: 1
}

.asset-description .asset-brand-deets{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.asset-brand-deets .asset-brand-image{
     border: 1px solid var(--sleezy-border);
     height: 70px;
     background: white;
     border-radius: 7px;
     -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
     -ms-border-radius: 7px;
     -o-border-radius: 7px;
     display: flex;
     align-items: center;
     justify-content: center;
}
.asset-brand-image img{
     object-fit: contain;
     width: 80%;
     height: 80%;
}
.brand-name-product h4{
    font-size:18px;
    font-family: "Madera-Light" ;
    margin-bottom: 5px !important;
}
.brand-name-product h5{
      font-size: 13px;
      font-family: "Madera-Light";
      color: #636363
}
.brand-name-product h5 span{
     font-size: 10px;
}
