.back-btn{
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: var(--black);
    padding: 10px 20px 13px 20px;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.back-btn span{
     display: flex;
     margin-top: 3px;
}
.back-btn h5{
    font-size: 14px
}
.back-btn:hover{
      background: rgba(224, 237, 242, 0.723);
}

.settings-body-wrap{
       border-top: 1px solid var(--sleezy-border);
       margin-top: 10px;
}

.settings-title h2{
    font-size: 24px;
    font-family: "Madera-Regular";
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 0;
    border-bottom: 1px solid var(--sleezy-border);
}
.settings-title h2 span.icon{
       display: inline-flex;
       font-size: 14px;
       font-family: "Madera-Thin";
       align-items: center;
       margin-top: 10px;
}
.settings-title h2 span{
      font-size: 18px;
      font-family: "Madera-Thin";
      margin-top: 8px
}

.settings-types-row{
       margin: 20px 0;
       display: grid;
       grid-template-columns: 1fr 4fr;
       gap: 50px;
}
.settings-sidebar .sidebar-btn{
       width: 40px;
       cursor: pointer;
       height: 40px;
       display: flex;
       align-items: center;
       justify-content: center;
       border-radius: 7px;
       -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
       -ms-border-radius: 7px;
       -o-border-radius: 7px;
       border: 1px solid var(--sleezy-border);
       display: none;
}

.settings-sidebar ul li{
      line-height: 45px;
      margin-bottom: 10px;;
}
.settings-sidebar ul li a{
     padding: 0px 15px;
     display: flex;
     gap: 5px;
     border-radius: 7px;
     -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
     -ms-border-radius: 7px;
     -o-border-radius: 7px;
     color: var(--black);
     font-size: 15px;
     align-items: center;
}
.settings-sidebar ul li a:hover,
.settings-sidebar ul li.active a{
     background: rgba(224, 237, 242, 0.5)
}
.settings-sidebar ul li a span{
     font-size: 18px;
     margin-top: 2px;
     color:rgb(75, 75, 75);
}

.settings-tab .tab-title h2{
      font-size: 20px;
      font-family: "Madera-Light";
      padding-bottom: 10px;
      border-bottom: 1px solid var(--sleezy-border);
}
.profile-picture{
      border-bottom:  1px solid var(--sleezy-border);
      padding-bottom: 30px;
}
.profile-picture h2{
    font-size: 18px;
    margin: 20px 0;
    font-family: "Madera-Light";
    color: var(--black);
}
.profile-picture .picture-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}
.profile-picture .picture-box{
    display: flex;
    align-items: center;
    gap: 10px;;
}
.picture-box .picture-texts p{
    font-size: 15px;
    font-weight: 600;
    color: var(--black);
}
.picture-box .picture-texts span{
     font-size: 13px;
     color: rgb(148, 148, 148)
}
.picture-wrap .picture-box .image-part{
      width: 75px;
      height: 75px;
      flex-shrink: 0;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      overflow: hidden;
      border: 3px solid rgb(230, 230, 230);
}
.picture-box .image-part img{
       width: 75px;
       height: 75px;
       border-radius: 50%;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       -ms-border-radius: 50%;
       -o-border-radius: 50%;
}
.picture-btns{
    display: flex;
    align-items: center;
    gap: 20px;;
}
.picture-btns p{
     border: 1px solid gainsboro;
     padding: 5px 20px 7px 20px;
     font-size: 13px;
     font-weight: 600;
     border-radius: 7px;
     -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
     -ms-border-radius: 7px;
     -o-border-radius: 7px;
     color: var(--black);
     cursor: pointer;
}
.picture-btns p:nth-child(2){
      color: rgb(237, 4, 4);
}


.personal-info h2{
    font-size: 18px;
    margin: 20px 0;
    font-family: "Madera-Light";
}

.settings-form-row{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      width: 80%;
      margin-bottom: 20px;
}
.settings-form-row label,
.bio-field label{
      display: block;
      font-size: 14px;
      font-family: "Madera-Medium";
      margin-bottom: 5px;
}
.settings-form-row .form-column .input-control{
       width: 100%;
       height: 50px;
       border: 1px solid rgba(206, 206, 206, 0.429);
       border-radius: 7px;
       -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
       -ms-border-radius: 7px;
       -o-border-radius: 7px;
       outline: none;
       background: rgba(252, 254, 255, 0.38);
       font-size: 15px;
       font-family: "Madera-Regular";
       padding-left: 10px;
}
.bio-field textarea{
       width: 80%;
       height: 150px;
       border: 1px solid rgba(206, 206, 206, 0.429);
       outline: none;
       border-radius: 7px;
       -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
       -ms-border-radius: 7px;
       -o-border-radius: 7px;
       background:rgba(252, 254, 255, 0.38);
       font-family: "Madera-Regular";
       padding: 10px;
       font-size: 15px;
       margin-bottom: 20px;
}

.settings-btn button{
        width: 180px;
        font-family: "Madera-Regular";
        height: 50px;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
        border:none;
        background: var(--main-color);
        font-size: 14px;
        margin: 20px 0;
        cursor: pointer;
        color: white;;
}
.picture-btns {
    position: relative;
}
.picture-btns .upload-btn{
     cursor: pointer;
}
.upload-btn p{
      color: rgb(0, 14, 51) !important;
}
.upload-btn input[type='file']{
       position: absolute;
       width: 90px;
       height: 35px;
       opacity: 0;
       font-size: 0;
       cursor: pointer;
}

.upload-status{
      flex-shrink: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
}

.upload-status span.check{
      color: rgb(12, 135, 12);
      font-size: 18px;
      display: flex;
      margin-top: 5px;
}
.upload-status .status-top{
      display: flex;
      gap:5px;
      align-items: center;
}
.upload-status .status-top p{
      font-size: 13px;
      color: green;
      font-family: "Madera-Medium";
}

.settings-tab form{
      height: 550px;
      overflow-y: scroll;
      margin-bottom: 30px;
}
.settings-tab form::-webkit-scrollbar {
      width: 0px;
  }

@media(max-width:1090px){
         .settings-form-row,
         .bio-field textarea{
               width: 100%;
         }
}

  @media(max-width: 768px){
        .settings-types-row{
               grid-template-columns: 50px auto;
               gap: 5px;
        }
        .settings-sidebar{
                position: relative;
        }
        .settings-sidebar .sidebar-btn{
               display: flex;
        }
       .settings-sidebar ul {
               position: absolute;
               background: white;
               border-radius: 10px;
               -webkit-border-radius: 10px;
               -moz-border-radius: 10px;
               -ms-border-radius: 10px;
               -o-border-radius: 10px;
               transform-origin: top left;
               transform: scale(0);
               -webkit-transform: scale(0);
               -moz-transform: scale(0);
               -ms-transform: scale(0);
               -o-transform: scale(0);
               transition: all 0.5s ease;
               -webkit-transition: all 0.5s ease;
               -moz-transition: all 0.5s ease;
               -ms-transition: all 0.5s ease;
               -o-transition: all 0.5s ease;
}
          .settings-sidebar ul.active{
                 transform: scale(1);
                 -webkit-transform: scale(1);
                 -moz-transform: scale(1);
                 -ms-transform: scale(1);
                 -o-transform: scale(1);
}
        .settings-sidebar ul li a{
               padding: 0px 30px;
        }
        .settings-form-row{
                grid-template-columns: 1fr;
        }
        .settings-tab form{
                height: auto;
        }
  }

  @media(max-width: 500px){
         .profile-picture .picture-wrap{
               flex-direction: column;
               align-items: flex-start;
               gap: 10px;
         }
  }