*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

:root{
     --main-color: rgb(0, 188, 209);
     --dod: #6d4ae2;
     --sleezy-border: rgba(203, 229, 232, 0.473);
     --greyish-color: rgb(203,229,232);
     --black: rgb(75,75,75);
     --font-medium: "Madera-Medium";
     --font-light: "Madera-Light";
     --font-regular: "Madera-Regular";
     --font-ultralight: "Madera-UltraLight";
     --font-bold: "Madera-Bold";
     --font-thin: "Madera-Thin";
}

body{
      font-family: "Madera-Regular";
      background: rgb(245, 254, 255);
}

ul{
    list-style: none;
}

a{
     text-decoration: none;
}

img{
     width: 100%;
     height: 100%;
     object-fit: cover;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-button {
    background: transparent;
}
::-webkit-scrollbar-track-piece {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #11acd2;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}


/* Utilities */
.inner-row{
     width: 1280px;
     margin: auto;
}
.btn{
    font-size: 14px;
    width: 120px;
    height: 45px;
    padding-bottom: 3px;
    display: flex;
    color: #000;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.btn:hover{
     transform: scale(0.95);
     -webkit-transform: scale(0.95);
     -moz-transform: scale(0.95);
     -ms-transform: scale(0.95);
     -o-transform: scale(0.95);
}

.btn.btn.outline{
     border: 1px solid rgba(182, 232, 242, 0.367);
}

.btn.outline:hover{
    border: 2px solid var(--main-color);
}

.btn.background{
     background: var(--main-color);
     color: white;
}


.btn.background.expand{
       width: 250px;
       height: 50px;
}
.btn.expand.inactive{
      background:rgba(7, 197, 218, 0.73);
      width: 150px;
      height: 50px;
      pointer-events: none;
      color:  white;
}
.btn-submit{
      width: 200px;
      height: 55px;
      font-family: "Madera-Regular";
      justify-content: center;
      display: flex;
      align-items: center;
      margin: 30px auto;
      background: var(--main-color);
      border: none;
      border-radius: 6px;
      color: white;
      cursor: pointer;
      font-size: 15px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
}
.tiny{
     max-height: 200px;
     border-radius: 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -ms-border-radius: 20px;
     -o-border-radius: 20px;
}
.large{
    height: 550px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.flexate{
     display: flex;
     align-items: center;
     gap: 20px;
     flex-direction: column;
     justify-content: center;
}

.small-intro{
     width: 900px;
     text-align: center;
     margin: 20px auto;
}
.small-intro h2{
    font-size: 50px;
}
.small-intro.tweak h2{
     font-size: 40px;
     padding-top: 30px;
}
.small-intro p{
     font-size: 16px;
     margin: 10px auto;
     line-height: 30px;
     width: 90%;
     color: #555;
}

p.redirect{
     text-align: center;
     font-size: 15px;
}
p.redirect a{
     color: var(--main-color);
}

/* Spinner Styles */
.spinner-wrapper{
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 400;
      right: 0;
      background: rgba(245, 254, 255, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 999;
}

.lds-roller {
     display: inline-block;
     position: relative;
     width: 80px;
     height: 80px;
   }
   .lds-roller div {
     animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
     transform-origin: 40px 40px;
   }
   .lds-roller div:after {
     content: " ";
     display: block;
     position: absolute;
     width: 7px;
     height: 7px;
     border-radius: 50%;
     background: var(--main-color);
     margin: -4px 0 0 -4px;
   }
   .lds-roller div:nth-child(1) {
     animation-delay: -0.036s;
   }
   .lds-roller div:nth-child(1):after {
     top: 63px;
     left: 63px;
   }
   .lds-roller div:nth-child(2) {
     animation-delay: -0.072s;
   }
   .lds-roller div:nth-child(2):after {
     top: 68px;
     left: 56px;
   }
   .lds-roller div:nth-child(3) {
     animation-delay: -0.108s;
   }
   .lds-roller div:nth-child(3):after {
     top: 71px;
     left: 48px;
   }
   .lds-roller div:nth-child(4) {
     animation-delay: -0.144s;
   }
   .lds-roller div:nth-child(4):after {
     top: 72px;
     left: 40px;
   }
   .lds-roller div:nth-child(5) {
     animation-delay: -0.18s;
   }
   .lds-roller div:nth-child(5):after {
     top: 71px;
     left: 32px;
   }
   .lds-roller div:nth-child(6) {
     animation-delay: -0.216s;
   }
   .lds-roller div:nth-child(6):after {
     top: 68px;
     left: 24px;
   }
   .lds-roller div:nth-child(7) {
     animation-delay: -0.252s;
   }
   .lds-roller div:nth-child(7):after {
     top: 63px;
     left: 17px;
   }
   .lds-roller div:nth-child(8) {
     animation-delay: -0.288s;
   }
   .lds-roller div:nth-child(8):after {
     top: 56px;
     left: 12px;
   }
   @keyframes lds-roller {
     0% {
       transform: rotate(0deg);
     }
     100% {
       transform: rotate(360deg);
     }
   }
   
  .spin-loader{
    width: 20px;
    height: 20px;
    border: 3px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotationinf 1s linear infinite;
    -webkit-animation: rotationinf 1s linear infinite;
}


@keyframes rotationinf {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 
/* Intermittent Messages */
.intermittent-wrapper{
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
}
.intermittent-wrapper .intermittent{
       color: var(--main-color);
       
}

/* Spinner-2 Styles*/
.spinner-2-wrapper{
  position: fixed;
  top: 0;;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(245, 254, 255, 0.85)
}
.loader {
  width: 82px;
  height: 18px;
  position: relative;
}
.loader::before , .loader::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translate(-50% , 10%);
  top: 0;
  background: #011d20;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  animation: jump 0.5s ease-in infinite alternate;
}

.loader::after {
  background: #0000;
  color: var(--main-color);
  top: 100%;
  box-shadow: 32px -20px , -32px -20px;
  animation: split 0.5s ease-out infinite alternate;
}
@keyframes split {
  0% { box-shadow: 8px -20px, -8px -20px}
  100% { box-shadow: 32px -20px , -32px -20px}
}
@keyframes jump {
 0% { transform: translate(-50% , -150%)}
 100% { transform: translate(-50% , 10%)}
}

.spinning-and-get-data{
       width: 500px;
       display: flex;
       justify-content: center;
       margin-top: 30px;
}
.spinner-circle{
  width: 11.2px;
  height: 11.2px;
  animation: spinner-o824ag 1s infinite linear;
  margin: 20px 0;
}

.spinner-circle div {
  position: absolute;
  width: 50%;
  height: 50%;
  background: var(--main-color);
  border-radius: 50%;
  animation: spinner-vse6n7 1.25s infinite ease;
}

.spinner-circle div:nth-child(1) {
  --rotation: 90;
}

.spinner-circle div:nth-child(2) {
  --rotation: 180;
}

.spinner-circle div:nth-child(3) {
  --rotation: 270;
}

.spinner-circle div:nth-child(4) {
  --rotation: 360;
}

@keyframes spinner-vse6n7 {
  0%, 100% {
     transform: rotate(calc(var(--rotation) * 1deg)) translateY(0);
  }

  50% {
     transform: rotate(calc(var(--rotation) * 1deg)) translateY(200%);
     -webkit-transform: rotate(calc(var(--rotation) * 1deg)) translateY(200%);
     -moz-transform: rotate(calc(var(--rotation) * 1deg)) translateY(200%);
     -ms-transform: rotate(calc(var(--rotation) * 1deg)) translateY(200%);
     -o-transform: rotate(calc(var(--rotation) * 1deg)) translateY(200%);
}
}

@keyframes spinner-o824ag {
  to {
     transform: rotate(360deg);
  }
}

.cog {
  width: 15px;
  height: 15px;
  animation: spinner-z355kx 1.5s infinite linear;
  border-radius: 4px;
  border: 3px dotted var(--main-color);
  -webkit-border-radius: 15px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-animation: spinner-z355kx 1.5s infinite linear;
}

@keyframes spinner-z355kx {
  to {
     transform: rotate(360deg);
  }
}

/* Header Styles */
header{
     height: 80px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-bottom: 1px solid var(--sleezy-border);
}
 
header .logo {
     width: 130px;
}

header .logo img{
      object-fit: contain;
}

.header-btns{
     display: flex;
     gap:30px;
}

.account-themselfu.confirm{
      width: 500px;
      margin: auto;
      min-height: 450px;
}
.account-themselfu.confirm p{
      font-size: 16px;
      text-align: right;
}
.account-themselfu.confirm p span{
       font-weight: 500;
       color: var(--main-color);
       cursor: pointer;
}
.forgot-password{
      color: var(--main-color);
      font-size: 15px;
}

.success-reset-message{
  text-align: center !important;
  background:rgba(134, 237, 249, 0.5);
  padding: 20px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  font-size: 15px;
  margin-bottom: 30px;
}
.login-redirect{
      width: 150px;
      display: flex;
      background: var(--main-color);
      height: 45px;
      align-items: center;
      justify-content: center;
      padding-bottom: 5px;
      margin: auto;
      color: white;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
}


.footer{
    padding: 30px 0;
    border-top: 1px solid rgba(220, 220, 220, 0.5);
    text-align: center;
}
.footer p{
    font-size: 13px;
}


/* Error Page Styles */
.error-crash-page{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
}
.error-crash-page .error-crash-body{
       width: 600px;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       text-align: center;
}

.error-crash-body img{
      mix-blend-mode: multiply;
      width: 100%;
      height: 250px;
      object-fit: contain;
}
.error-crash-body h2{
      font-size: 50px;
      font-family: "Madera-Bold";
      line-height: 60px;
}
.error-crash-body p{
     line-height: 32px;
     margin: 15px 0;
}
.error-crash-body a{
      background: var(--main-color);
      color: white;
      width: 250px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 5px;
      font-size: 15px;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
}
@media(max-width: 1320px){
     .inner-row{
           width: 90%;
     }
}


@media(max-width: 1090px){
    .large{
          width: 300px;
    }
    .tiny{
         max-height: 150px;
    }
    .small-intro{
        width: 90%;
    }
    .error-crash-page .error-crash-body{
          width: 90%;
    }
}

@media(max-width: 768px){
      .tiny{
          max-height: 250px;
          max-width: 45%;
      }
      .large,
      .account-themselfu.confirm{
          width: 100%;
      }
      .small-intro.tweak h2,
      .error-crash-body h2{
           font-size: 35px;
           line-height: 45px;
      }
      .flexate{
           flex-direction: row;
      }
      .header-btns .btn.background{
            display: none;
      }

}