.brand-asset-intro h2{
       font-family: "Madera-Light";
}
.brand-asset-intro p{
     font-size: 16px;
     color: var(--black);
}

.brand-assets-row{
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
      gap: 20px;
      min-height: 100vh;
      padding-bottom: 60px;
}

.brand-asset-moja{
       height: 350px;
       border-radius: 15px;
       -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
       -ms-border-radius: 15px;
       -o-border-radius: 15px;
       position: relative;
       overflow: hidden;
       cursor: pointer;;
}
.brand-asset-moja .asset-overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(transparent, rgba(0,0,0,0.25), rgba(0,0,0,0.5));
        z-index: 4;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
}
.brand-asset-moja img{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
       z-index: 2;
}
.brand-asset-moja .play-btn{
       position: absolute;
       left: 50%;
       top: 50%;
       transform: translate(-50%, -50%);
       -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
       z-index: 6;
}
.brand-asset-moja .play-btn span{
         width: 50px;
         height: 50px;
         background: rgba(187, 187, 187, 0.73);
         display: flex;
         align-items: center;
         justify-content: center;
         border-radius: 50%;
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
         -ms-border-radius: 50%;
         -o-border-radius: 50%;
         padding-top: 1px;
         padding-left: 3px;
         color: white;
         transform: scale(0);
         -webkit-transform: scale(0);
         -moz-transform: scale(0);
         -ms-transform: scale(0);
         -o-transform: scale(0);
         transition: all 0.5s ease;
         -webkit-transition: all 0.5s ease;
         -moz-transition: all 0.5s ease;
         -ms-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
}
.brand-asset-moja:hover .play-btn span{
         transform: scale(1);
         -webkit-transform: scale(1);
         -moz-transform: scale(1);
         -ms-transform: scale(1);
         -o-transform: scale(1);
}

.brand-asset-moja .asset-details{
        position: absolute;
        padding: 10px 25px;
        bottom: 10px;
        left: 0;
        z-index: 6;
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
}
.brand-asset-moja:hover .asset-details{
         transform: translateY(0);
         -webkit-transform: translateY(0);
         -moz-transform: translateY(0);
         -ms-transform: translateY(0);
         -o-transform: translateY(0);
}
.asset-details h3{
       font-size: 17px;;
       color: whitesmoke;
       line-height: 20px;
}
.asset-details p{
        font-size: 14px;
        color: rgba(245, 245, 245, 0.8);
}

/* Brand Modal Styles */
.brand-modal{
       position: fixed;
       top: 0;
       right: 0;
       left: 0;
       bottom: 0;
       background: rgba(4, 64, 64, 0.604);
       z-index: -1;
       display: none;
       align-items: center;
       justify-content: center;
}
.brand-modal.active{
        display: flex;
        z-index: 800;
        align-items: center;
        justify-content: center;
}
.brand-modal-content{
       width: 950px;
       height: 85%;
       background: white;
       display: grid;
       grid-template-columns: 2fr 1.5fr;
}
.brand-modal-asset-col{
       height: 100%;
       background:rgb(0, 56, 56);
       position: relative;
}
.modal-asset-body{
       height: inherit;
       display: flex;
       align-items: center;
       justify-content: center;
}
.modal-loader {
       width: 48px;
       height: 48px;
       border: 2px solid #FFF;
       border-radius: 50%;
       display: inline-block;
       position: relative;
       box-sizing: border-box;
       animation: rotation 1s linear infinite;
       position: absolute;
       z-index: 3;
  }
.modal-loader::after,
.modal-loader::before {
       content: '';  
       box-sizing: border-box;
       position: absolute;
       left: 0;
       top: 0;
       background: var(--main-color);
       width: 6px;
       height: 6px;
       border-radius: 50%;
 }
.modal-loader::before {
       left: auto;
       top: auto;
       right: 0;
       bottom: 0;
 }
     
@keyframes rotation {
    0% {
         transform: rotate(0deg);
    }
  100% {
       transform: rotate(360deg);
 }
} 
.modal-asset-body{
       overflow: hidden;
}
.modal-asset-body img{
       object-fit: contain;
       width: 90%;
       position: absolute;
       z-index: 5;
       width: 95%;
}
.modal-asset-body video{
        position: absolute;
        z-index: 5;
        height: 100%;
        width: 100%;
}
.close-modal-asset-btn{
        color: white;
        position: absolute;
        top: -40px;
        right: 0;
        font-size: 30px;
        cursor: pointer;
        display: none;
}





.brand-modal-texts-col{
       position: relative;
       padding: 20px;
}
.brand-modal-texts-col span.modal-close{
        position: absolute;
        right: 10px;
        top: 10px;
        width: 35px;
        height: 35px;
        background: rgb(241, 245, 245);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 5;
}
.modal-texts-inner h3{
       font-size: 18px;
       border-bottom: 1px solid var(--sleezy-border);
       padding-bottom: 10px;
       font-family: "Madera-Light";
}
.modal-texts-inner{
        height: 530px;
        overflow: scroll;
}
.modal-texts-inner::-webkit-scrollbar{
        display: none;
}
.creator-profile{
       display: flex;
       gap: 10px;
       align-items: center;
       margin-top: 20px;
}
.modal-texts-inner .creator-profile .profile-image,
.creator-profile .profile-image img{
       width: 65px;
       height: 65px;
       border-radius: 50%;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       -ms-border-radius: 50%;
       -o-border-radius: 50%;
}
.modal-texts-inner h4{
       font-size: 16px;
       font-family: "Madera-Light";
       margin-bottom: 0;
       line-height: 1;
}
.modal-texts-inner .profile-texts p{
        font-size: 13px;
}
.modal-texts-inner .asset-product-row{
       display: flex;
       gap: 10px;
       align-items: center;
       margin: 20px 0 0 0;
}
.asset-product-row span{
       background: rgba(126, 242, 255, 0.2);
       color:rgb(73, 73, 73);
       font-size: 13px;
       display: inline-flex;
       padding: 6px 20px 10px 20px;
       border-radius: 6px;
       -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
       -ms-border-radius: 6px;
       -o-border-radius: 6px;
}
.asset-product-row h5{
       font-family: "Madera-Light";
       margin: 0 !important;
       line-height: 1;
}

.modal-texts-inner .caption{
       font-size: 15px;
       margin: 10px 0;
}

.modal-texts-inner .impressions-part{
       border-top: 1px solid var(--sleezy-border);
       margin-top: 10px;
       display: flex;
       justify-content: space-between;
       padding-top: 5px;
}
.impressions-part span{
       font-size: 20px;
       width: 45px;
       height: 45px;
       display: flex;
       justify-content: center;
       align-items: center;
       border-radius: 50%;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       -ms-border-radius: 50%;
       -o-border-radius: 50%;
       transition:all 0.5s ease-in-out;
       cursor: pointer;
       -webkit-transition:all 0.5s ease-in-out;
       -moz-transition:all 0.5s ease-in-out;
       -ms-transition:all 0.5s ease-in-out;
       -o-transition:all 0.5s ease-in-out;
}
.impressions-part span:hover,
.impressions-part span.active{
       background: rgba(126, 242, 255, 0.2);
}
.impressions-part span.active{
        color: var(--main-color);
}
.impressions-part .right-col{
       display: flex;
       align-items: center;
       gap: 10px;
}


/* Comments */
.comments-wrapper h4{
        font-family: "Madera-Light";
        border-bottom: 1px solid var(--sleezy-border);
        display: block;
        padding-bottom: 10px;
        position: sticky;
        top: 0;
        background: white;
}
.comments-body{
       padding-bottom: 30px;
}
.comment-moja{
       margin: 10px 5px;;
}
.comment-moja .main-comment,
.reply-moja .reply-profile{
       display: flex;
       gap: 5px;
}
.comment-moja .author-texts h5,
.reply-moja .reply-texts h5{
        font-family: "Madera-Light";
        font-size: 15px;
}
.comment-moja .author-texts{
        width: 100%;
}
.comment-moja .author-texts p{
        font-size: 13px;
        line-height: 18px;
        color: rgb(86, 85, 85);
}
.comment-moja .comment-image-profile{
         width: 35px;
         height: 35px;
         border-radius: 35px;
         -webkit-border-radius: 35px;
         -moz-border-radius: 35px;
         -ms-border-radius: 35px;
         -o-border-radius: 35px;
         box-shadow: 0px 0px 2px 1px rgb(238, 241, 241);
         display: flex;
         flex-shrink: 0;
         align-items: center;
         justify-content: center;
}
.comment-image-profile img.creator-photo{
         width: 100%;
         height: 100%;
         object-fit: cover;
         border-radius: 50%;
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
         -ms-border-radius: 50%;
         -o-border-radius: 50%;
}
.comment-image-profile img.brand{
       width: 60%;
       height: 60%;
       object-fit: contain
}
.comment-moja .author-actions{
       display: flex;
       gap: 10px;;
       align-items: center;
       justify-content: flex-end;
       margin-right: 10px;
}
.comment-moja .author-actions span{
       font-size: 10px;
}
.comment-moja .author-actions h6{
       font-family: "Madera-Light";
       cursor: pointer;
       font-size: 10px;
       color: #666;
}

.reply-form{
       display: flex;
       justify-content: space-between;
       align-items: center;
       display: none;
}
.reply-form.active{
       display: flex;
       margin: 10px 0;
}
.reply-form-content{
       display: flex;
       align-items: center;
       margin-top:5px
}
.reply-form .reply-form-control{
       width: 250px;
       height: 40px;
       resize: none;
       outline: none;
       border: none;
       background: rgb(238, 239, 239);
       border-radius: 5px 0px 0px 5px;
       -webkit-border-radius: 5px 0px 0px 5px;
       -moz-border-radius: 5px 0px 0px 5px;
       -ms-border-radius: 5px 0px 0px 5px;
       -o-border-radius: 5px 0px 0px 5px;
       padding: 5px;
}
.reply-form-content p{
         border: none;
         width: 40px;
         height: 40px;
         border-radius: 0px 5px 5px 0px;
         -webkit-border-radius: 0px 5px 5px 0px;
         -moz-border-radius: 0px 5px 5px 0px;
         -ms-border-radius: 0px 5px 5px 0px;
         -o-border-radius: 0px 5px 5px 0px;
         display: flex;
         align-items: center;
         justify-content: center;
         font-size: 18px;
         color: white;
         cursor: none;
         background-color: rgba(0, 188, 209, 0.75);
}
.reply-form-content p.active{
       cursor: pointer;
       background-color: var(--main-color);
}
.reply-form span{
        display: flex;
        margin-top: 5px;
        cursor: pointer;
        font-size: 20px;
}

.comment-input{
        display: flex;
        align-items: center;
        border-top: 1px solid var(--sleezy-border);
        gap: 8px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        background: white;
}
.comment-input textarea{
        width: 90%;
        height: 45px;
        outline: none;
        resize: none;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        padding:8px 5px;
        font-family: "Madera-Regular";
        background:rgba(238, 239, 239, 0.5);
        border: 1px solid rgba(220, 220, 220, 0.55);
}
.comment-input h3{
       font-size: 15px;
       color: gainsboro;
       font-family: "Madera-Light";
       cursor: none;
}
.comment-input h3.active{
       color: var(--main-color);
       cursor: pointer;
}
.comments-body .error{
       font-size: 13px;
       text-align: center;
       padding: 10px 0;
       color: rgb(128, 127, 127);
}
.simple-loader{
       display: flex;
       justify-content: center;
       padding: 20px 0;;
}
.spinning-loader {
       width: 20px;
       height: 20px;
       border-radius: 50%;
       display: inline-block;
       border-top: 3px solid var(--main-color);
       border-right: 3px solid transparent;
       box-sizing: border-box;
       animation: rotation 1s linear infinite;
     }
     
     @keyframes rotation {
       0% {
         transform: rotate(0deg);
       }
       100% {
         transform: rotate(360deg);
       }
     } 


     @media(max-width: 1090px){
          .brand-modal-content{
                width: 95%;
          }
     }

     @media(max-width: 768px){
            .brand-modal-content{
                    grid-template-columns: 1fr;
            }
            .brand-modal-texts-col{
                  display: none;
            }
            .close-modal-asset-btn{
                   display: block;
            }
     }

     @media(max-width: 450px){
       .brand-asset-intro h2{
                font-size: 22px;
       }
     }