
.brand-sidebar{
     width: 300px;
     top: 0;
     bottom: 0;
     position: fixed;
     padding: 30px 0;
     border: 1px solid var(--sleezy-border);
     z-index: 99;
}
.brand-sidebar-content{
     width: 80%;
     margin: auto;
}
.brand-sidebar .logo{
      width: 130px;
      margin: auto;
}

.sidebar-menu{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 60px;
}

.sidebar-menu ul li {
     margin-bottom: 20px;
}
.sidebar-menu ul li a{
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    gap: 5px;
    padding: 12px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #000d14;
    font-size: 15px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.sidebar-menu ul li a.active,
.sidebar-menu ul li a:hover{
      background: var(--main-color);
      color: white;
}
.sidebar-menu ul li a span{
    display: flex;
    margin-top: 2px;
}

.sidebar-bottom{
     display: flex;
     flex-direction: column;
     gap: 10px;
}
.sidebar-bottom p{
     padding: 15px 20px;
     border-radius: 8px;
     display: flex;
     gap: 5px;
     -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
     -ms-border-radius: 8px;
     -o-border-radius: 8px;
     font-size: 14px;
     transition: all 0.6s ease;
     -webkit-transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
     -ms-transition: all 0.6s ease;
     -o-transition: all 0.6s ease;
     cursor: pointer;
     width: 80%;
     margin:auto;
}
.sidebar-bottom p:hover{
    background: rgba(192, 247, 239, 0.2);
}
.sidebar-bottom p span{
     margin-top: 5px;
     display: flex;
}

.brand-dashboard-skewed{
      margin-left: 300px;
      width: calc(100% - 300px);
      padding: 20px;
}
.brand-dashboard-skewed .brand-dashboard-skewed-inner{
     display: grid;
     grid-template-columns: 2.5fr 1.2fr;
     margin-bottom: 50px;
}

.dashboard-middle-part{
       border-right: 1px solid var(--sleezy-border);
       padding-right: 20px;
}

.greeting h3{
     font-size: 25px;
     font-family: "Madera-Light";
}
.greeting p{
     font-size: 14px;
     color: gray;
     margin-top: 5px;
}

.statistics-wedge{
     border-top: 1px solid var(--sleezy-border); 
     border-bottom: 1px solid var(--sleezy-border);
     padding: 30px 0;
     margin: 40px 0;
     display: grid;
     grid-template-columns: repeat(3,1fr);
}
.statistics-wedge .wedge-moja{
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
}
.statistics-wedge .wedge-moja:nth-child(2){
     border-right: 1px solid var(--sleezy-border);
     border-left: 1px solid var(--sleezy-border)
}
.wedge-moja .wedge-icon{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background: rgba(217, 239, 239, 0.44);
        display: flex;
        justify-content: center;
        align-items: center;
}
.wedge-icon img{
      width: 50%;
      height: 50%;
      filter: invert(61%) sepia(63%) saturate(5740%) hue-rotate(155deg) brightness(96%) contrast(80%);
}
.wedge-moja .wedge-texts{
     display: flex;
     flex-direction: column;
     gap: 5px;
}
.wedge-texts h4{
     font-size: 18px;
     line-height: 18px;
     font-family: "Madera-Light";
}
.wedge-texts h5{
     font-size: 14px;
     line-height: 15px;
     font-family: "Madera-Thin";
     color: var(--black)
}

.performance-analytics{
       border-bottom: 1px solid var(--sleezy-border);
       padding-bottom: 30px;
}
.performance-analytics  h3{
      font-size: 25px;
      font-family: "Madera-Light";
}

.performance-grid-wrap{
         display: grid;;
         grid-template-columns: 2fr 3fr;
         gap: 30px;
}
.performance-numbers{
     display: flex;
     align-items: center;
}
.performance-numbers h4{
      font-size: 20px;
      font-family: "Madera-Thin";
}
.performance-numbers p{
     font-size: 13px;
     color: gray;
     margin-left: 5px;
}
.performance-numbers p span{
     color: var(--main-color);
}

.performance-numbers h1{
       font-family: "Madera-Medium";
       font-size: 40px;
       display: flex;
       align-items: center;
       gap: 10px;
       margin: 15px 0;
}
.performance-numbers h1 span{
       font-size: 10px;
       margin-top: 10px;
       font-family: "Madera-Thin";
       display: flex;
       align-items: center;
       color: var(--main-color);
       background: rgba(192, 247, 239, 0.3);
       padding: 3px 10px;
       border-radius: 15px;
       -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
       -ms-border-radius: 15px;
       -o-border-radius: 15px;
}
.performance-numbers h1 span .icon{
     font-size: 16px;
     margin-top: 5px;
}

.performance-bar-chart h5{
      font-size: 15px;
      font-family: "Madera-Light";
      margin-bottom: 20px;
}
.performance-bar-chart h5 span{
     font-size: 9px;
     font-family: "Madera-Light";
     color: var(--main-color);
}
.performance-bar-chart-inner{
     height: 200px;
}

.transactions-wrapper {
      margin-top: 10px;
}
.transactions-wrapper h3{
       font-size: 25px;
       font-family: "Madera-Light";
}

.transactions-intro{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;
}
.transactions-intro .select-month{
       position: relative;;
}
.select-month span{
     color: gray;
     position: absolute;
     left:10px;
     top: 50%;
     transform: translateY(-50%);
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     -o-transform: translateY(-50%);
}
.transactions-intro select{
      width: 130px;
      height: 45px;
      padding-left: 25px;
      font-family: "Madera-Regular";
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      border: 1px solid rgba(128, 128, 128, 0.4);
      background: rgb(245, 254, 255);
      outline: none;
      color: gray;
}

.transaction-table{
       margin-top: 20px
}

.transaction-table table{
     width: 100%;
}
.transaction-table table,
.transaction-table tr,
.transaction-table th{
       text-align: left;
}

.transaction-table th{
     border-bottom: 1px solid var(--sleezy-border);
     padding-bottom: 15px;
     font-family: "Madera-Thin";
     font-size: 15px;
     padding-left: 10px;
}
.transaction-table tr td{
     border-bottom: 1px solid var(--sleezy-border);
     padding: 15px 0;
     font-size: 15px;
}
.transaction-table tr:last-of-type td{
       border-bottom: none;
}
.creator{
     display: flex;
     gap: 10px;
     align-items: center;
     font-family: "Madera-Medium";
     font-size: 17px;
}

.creator-image{
     width: 50px;
     height: 50px;
     border-radius: 60px;
     -webkit-border-radius: 60px;
     -moz-border-radius: 60px;
     -ms-border-radius: 60px;
     -o-border-radius: 60px;
     overflow: hidden;
}

.transaction-table .status{
      border: 1px solid rgba(218, 224, 226, 0.884);
      display: inline-flex;
      align-items: center;
      gap: 5px;
      padding: 3px 15px 7px 15px;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      font-size: 14px;
}
.transaction-table .status span{
      width: 7px;
      height: 7px;
      border-radius: 50%;
      display: flex;
      background: black;
      align-items: center;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      margin-top: 4px;
}
.transaction-table .status.success span{
      background: rgb(46, 185, 46);
}
.transaction-table .status.pending span{
     background: rgb(238, 231, 4);
}
.transaction-table .status.failed span{
     background: rgb(252, 18, 18);
}

/* Right Side Styles */
.right-part-inner{
     width: 90%;
     margin: auto;
}
.right-part-header{
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.right-part-header .bell-part span{
      position: relative;
}

.right-part-header .bell-part span.dot{
       width: 7px;
       height: 7px;
       border-radius: 50%;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       -ms-border-radius: 50%;
       -o-border-radius: 50%;
       background: var(--main-color);
       position: absolute;
       top: 0;
       right: -1px;
       box-shadow: 0px 0px 5px 1px rgb(69, 216, 239);
}
.right-part-header .search-area{
      width: 200px;
      height: 40px;
      border: 1px solid var(--sleezy-border);
      display: flex;
      align-items: center;
      padding-right: 5px;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      background: rgba(250, 254, 255, 0.752);
}
.search-area .search-control{
     height: 100%;
     width: 90%;
     border-radius: 8px 0px 0px 8px;
     -webkit-border-radius: 8px 0px 0px 8px;
     -moz-border-radius: 8px 0px 0px 8px;
     -ms-border-radius: 8px 0px 0px 8px;
     -o-border-radius: 8px 0px 0px 8px;
     border: none;
     background: transparent;
     outline:none;
     padding-left: 10px;
     font-family: "Madera-Regular";
}
.search-area span{
      font-size: 13px
}

.brand-profile-view{
      border-bottom: 1px solid var(--sleezy-border);
      padding-bottom: 20px;
}
.brand-profile-view .logo-section{
      width: 80%;
      height: 150px;
      background: white;
      margin: 30px auto 20px auto;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      box-shadow: 0px 0px 3px -1px gainsboro;
      display: flex;
      justify-content: center;
      align-items: center;
}
.brand-profile-view .logo-section img{
      object-fit: contain;
      width: 70%;
      height: 70%;
}
.brand-profile-view h3{
      font-family: "Madera-Light";
      font-size: 25px;
      text-align: center;
}
.brand-profile-view h5{
     font-size: 16px;
     font-weight: 500;
     text-align: center;
}
.brand-profile-view .biz{
     display: flex;
     justify-content: center;
}
.brand-profile-view p{
     font-size: 15px;
     text-align: center;
     background: rgba(217, 238, 244, 0.34);
     height: 40px;
     display: inline-flex;
     align-items: center;
     justify-content: center;
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
     padding-bottom: 5px;
     margin: 10px auto;
     padding: 5px 20px;
}

.profile-links{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     gap: 30px;
     margin: 20px 0;
}
.profile-links a{
       text-align: center;
       padding: 7px 5px 10px 5px;
       border-radius: 10px;
       -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
       -ms-border-radius: 10px;
       -o-border-radius: 10px;
       font-size: 14px
}
.profile-links a:nth-child(1){
      background: var(--main-color);
      color: white;
}
.profile-links a:nth-child(2){
      border: 1px solid var(--sleezy-border)
}

.creators-loft{
     padding: 20px 0;
}
.creators-loft h3{
     font-weight: 500;
}
.creators-loft .creator-images{
     display: flex;
     flex-wrap: wrap;
     gap: 10px;
     margin-top: 20px;
}