
.brand-sidebar{
     width: 300px;
     top: 0;
     bottom: 0;
     position: fixed;
     padding: 30px 0;
     border: 1px solid var(--sleezy-border);
}
.brand-sidebar-content{
     width: 80%;
     margin: auto;
}
.brand-sidebar .logo{
      width: 130px;
      margin: auto;
}

.sidebar-menu{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 60px;
}

.sidebar-menu ul li {
     margin-bottom: 20px;
}
.sidebar-menu ul li a{
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    gap: 5px;
    padding: 12px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #000d14;
    font-size: 15px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.sidebar-menu ul li a.active,
.sidebar-menu ul li a:hover{
      background: var(--main-color);
      color: white;
}
.sidebar-menu ul li a span{
    display: flex;
    margin-top: 2px;
}

.sidebar-bottom{
     display: flex;
     flex-direction: column;
     gap: 10px;
}
.sidebar-bottom p{
     padding: 15px 20px;
     border-radius: 8px;
     display: flex;
     gap: 5px;
     -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
     -ms-border-radius: 8px;
     -o-border-radius: 8px;
     font-size: 14px;
     transition: all 0.6s ease;
     -webkit-transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
     -ms-transition: all 0.6s ease;
     -o-transition: all 0.6s ease;
     cursor: pointer;
     width: 80%;
     margin:auto;
}
.sidebar-bottom p:hover{
    background: rgba(192, 247, 239, 0.2);
}
.sidebar-bottom p span{
     margin-top: 5px;
     display: flex;
}

.brand-dashboard-skewed{
      margin-left: 300px;
      width: calc(100% - 300px);
      padding: 20px;
      display: grid;
      grid-template-columns: 2.5fr 1.2fr;
}

.dashboard-middle-part{
       border-right: 1px solid var(--sleezy-border);
       padding-right: 20px;
}

.greeting h3{
     font-size: 25px;
     font-family: "Madera-Light";
}
.greeting p{
     font-size: 14px;
     color: gray;
     margin-top: 5px;
}

.statistics-wedge{
     border-top: 1px solid var(--sleezy-border); 
     border-bottom: 1px solid var(--sleezy-border);
     padding: 30px 0;
     margin: 40px 0;
     display: grid;
     grid-template-columns: repeat(3,1fr);
}
.statistics-wedge .wedge-moja{
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
}
.statistics-wedge .wedge-moja:nth-child(2){
     border-right: 1px solid var(--sleezy-border);
     border-left: 1px solid var(--sleezy-border)
}
.wedge-moja .wedge-icon{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background: rgba(217, 239, 239, 0.44);
        display: flex;
        justify-content: center;
        align-items: center;
}
.wedge-icon img{
      width: 50%;
      height: 50%;
      filter: invert(61%) sepia(63%) saturate(5740%) hue-rotate(155deg) brightness(96%) contrast(80%);
}
.wedge-moja .wedge-texts{
     display: flex;
     flex-direction: column;
     gap: 5px;
}
.wedge-texts h4{
     font-size: 18px;
     line-height: 18px;
     font-family: "Madera-Light";
}
.wedge-texts h5{
     font-size: 14px;
     line-height: 15px;
     font-family: "Madera-Thin";
     color: var(--black)
}

.performance-analytics  h3{
      font-size: 25px;
      margin-bottom: 20px;
      font-family: "Madera-Light";
}
.performance-grid-wrap{
         display: grid;;
         grid-template-columns: 2fr 3fr;
         gap: 30px;
}
.performance-numbers h4{
      font-size: 20px;
      font-family: "Madera-Thin";
}
.performance-numbers p{
     font-size: 13px;
     color: gray;
     margin-left: 5px;
}
.performance-numbers p span{
     color: var(--main-color);
}

.performance-numbers h1{
       font-family: "Madera-Medium";
       font-size: 40px;
       display: flex;
       align-items: center;
       gap: 10px;
       margin: 15px 0;
}
.performance-numbers h1 span{
       font-size: 10px;
       margin-top: 10px;
       font-family: "Madera-Thin";
       display: flex;
       align-items: center;
       color: var(--main-color);
       background: rgba(192, 247, 239, 0.3);
       padding: 3px 10px;
       border-radius: 15px;
       -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
       -ms-border-radius: 15px;
       -o-border-radius: 15px;
}
.performance-numbers h1 span .icon{
     font-size: 16px;
     margin-top: 5px;
}