
.brand-sidebar{
     width: 320px;
     top: 0;
     bottom: 0;
     position: fixed;
     padding: 30px 0;
}
.brand-sidebar-content{
     width: 80%;
     margin: auto;
}
.brand-sidebar .logo{
      width: 130px;
}

.sidebar-menu{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 150px;
}

.sidebar-menu ul li {
     margin-bottom: 20px;
}
.sidebar-menu ul li a{
    display: flex;
    align-items: center;
    width: 80%;
    gap: 5px;
    padding: 12px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #000d14;
    font-size: 15px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.sidebar-menu ul li a.active,
.sidebar-menu ul li a:hover{
      background: var(--main-color);
      color: white;
}
.sidebar-menu ul li a span{
    display: flex;
    margin-top: 2px;
}

.sidebar-bottom{
     display: flex;
     flex-direction: column;
     gap: 10px;
}
.sidebar-bottom p{
     padding: 15px 20px;
     border-radius: 8px;
     display: flex;
     gap: 5px;
     -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
     -ms-border-radius: 8px;
     -o-border-radius: 8px;
     font-size: 14px;
     transition: all 0.6s ease;
     -webkit-transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
     -ms-transition: all 0.6s ease;
     -o-transition: all 0.6s ease;
     cursor: pointer;
     width: 80%;
}
.sidebar-bottom p:hover{
    background: rgba(192, 247, 239, 0.2);
}
.sidebar-bottom p span{
     margin-top: 5px;
     display: flex;
}