.back-btn{
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: var(--black);
    padding: 10px 20px 13px 20px;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.back-btn span{
     display: flex;
     margin-top: 3px;
}
.back-btn h5{
    font-size: 14px
}
.back-btn:hover{
      background: rgba(224, 237, 242, 0.723);
}

.settings-body-wrap{
       border-top: 1px solid var(--sleezy-border);
       margin-top: 10px;
}

.settings-title h2{
    font-size: 24px;
    font-family: "Madera-Regular";
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 0;
    border-bottom: 1px solid var(--sleezy-border);
}
.settings-title h2 span.icon{
       display: inline-flex;
       font-size: 14px;
       font-family: "Madera-Thin";
       align-items: center;
       margin-top: 10px;
}
.settings-title h2 span{
      font-size: 18px;
      font-family: "Madera-Thin";
      margin-top: 8px
}

.settings-types-row{
       margin: 20px 0;
       display: grid;
       grid-template-columns: 1fr 4fr;
       gap: 50px;
}

.settings-sidebar{

}
.settings-sidebar ul li{
      line-height: 45px;
      margin-bottom: 10px;;
}
.settings-sidebar ul li a{
     padding: 0px 15px;
     display: flex;
     gap: 5px;
     border-radius: 7px;
     -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
     -ms-border-radius: 7px;
     -o-border-radius: 7px;
     color: var(--black);
     font-size: 15px;
     align-items: center;
}
.settings-sidebar ul li a:hover,
.settings-sidebar ul li.active a{
     background: rgba(224, 237, 242, 0.5)
}
.settings-sidebar ul li a span{
     font-size: 18px;
     margin-top: 2px;
     color:rgb(75, 75, 75);
}